.firstName,
.lastName,
.phone,
.modelphone,
.enregistrer
 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-family: var(--font-family);
}

.enregistrer {
  width: 100%;
}
.enregistrement {
  margin-left:  2rem !important;
  margin-right:  2rem !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wrapper-operator {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 10%;
    /* background-color: #258ea6; */
  }
  
  .form-wrapper-operator {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    margin-top: 0%;
    margin-bottom: 50px;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .firstName {
    margin-right: 1%;
    margin-top: 3%;
  }
  
  .lastName {
    margin-left: 1%;
  }

  input[type="submit"] {
    background-color: #2e566d !important;
    color: #fff !important;
    border: 2px solid #fff !important;
    width: 100%;
    margin-top: 1rem !important;
    /* padding: 8px 0px !important; */
    font-size: 1em !important;
    font-weight: lighter !important;
    letter-spacing: 1px !important;
    margin-bottom: 0.25em !important;
    font-family: var(--font-family);
    text-align: center !important;
}
  .saveoperator {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center !important;
    align-content: center;
  }

  .saveoperator button {
    background-color: #2e566d !important;
    color: #fff !important;
    border: 2px solid #fff !important;
    /* width: 100%; */
    margin-top: 1rem !important;
    padding: 8px 0px !important;
    font-size: 1em !important;
    font-weight: lighter !important;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    font-family: var(--font-family);
  }
  
  .btn1 {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1px !important;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
  }
  a {
    width: 98% !important;
    margin-left: 2px;
    font-family: var(--font-family);
  }
  
  .btn-edit1{
    font-family: var(--font-family);
    background-color: #335517 !important;
  }

  @media screen and (min-width: 300px ) {
    .form-wrapper {
      width: 300px;
      display: flex;
      flex-direction: column;
      padding: 30px 25px !important;
      border-radius: 10px;
      box-shadow: 0px 10px 50px #555;
      background-color: #ffffff;
      margin-top: 5%;
      margin-bottom: 50px;
  }
    .firstName,
    .lastName,
    .phone,
    .modelphone,
    .enregistrer {
      width: 100%;
    }
  }
  @media screen and (max-width: 400px ) {
    .form-wrapper {
      width: 300px !important;
      margin-top: 50px !important;
      margin-bottom: 50px;
      margin: 2rem 2.5rem !important;
  }
  .enregistrement{
    font-size: 1.6rem;
    margin: 0 !important;
    padding-left: 1rem !important;
  }
}

@media screen and (max-width: 550px ) {
  .form-wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    /* padding: 30px 10px; */
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 50px;
    margin: 1rem 1rem;
}

}

  @media screen and (max-width: 920px ) {
    .form-wrapper {
      width: 400px;
      display: flex;
      flex-direction: column;
      padding: 40px 40px;
      border-radius: 10px;
      box-shadow: 0px 10px 50px #555;
      background-color: #ffffff;
      margin-top: 10rem !important;
      margin-bottom: 50px;
      
  }
    .firstName,
    .lastName,
    .phone,
    .modelphone,
    .enregistrer {
      width: 100%;
    }
}